
<style> 
input[type=number],input[type=submit] {
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
}
</style>

<form action="{{path('daniel')}}">
<label><h1> Pick a number: </label>
<input type="number" id="number" name="nr"><br>
<input type="submit">
{{message}}
<hr>
 The number is {{number}} </h1>
</form>
  </div>